@font-face {
    font-family: orig_gothambold;
    src: url("path/Gotham\ Bold.otf") format("opentype");
}

@font-face {
    font-family: piedpiper;
    src: url("path/piper.woff") format("opentype");
}

@font-face {
    font-family: brandon_bold;
    src: url("path/Brandon_bld.otf") format("opentype");
}

@font-face {
    font-family: brandon_regular;
    src: url("path/Brandon_reg.otf") format("opentype");
}

.font_3 {
    font-family: piedpiper, orig_gothambold, Helvetica, sans-serif;
}

.font_4 {
    font-family: brandon_bold, Helvetica, sans-serif;
}

.font_1 {
    font-family: brandon_regular;
}