html, #main {
    position: relative;
    color: rgb(85, 85, 85);
}

.mobile {
    display: none;
}

#emptyspace {
    height: 350px;
}

#introduction {
    position: absolute;
    text-align: center;
    width: 100%;
}

#emptyspace, #introduction {
    background-image: url('../files/background.jpg');
    /*background-color: #365168;*/
    /*#003262;*/
}

#documents {
    padding-bottom: 50px;
}

#name {
    font-size: 100px;
    margin-top: 5px;
}

#tags {
    font-size: 24px;
}

#subtitle{
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.bold {
    font-weight: bold;
    color: #c4820f;
}

#contact {
    text-align: center;
    padding-top: 30px;
}

#content {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 700px;
    margin-top: 0px;
}

#about, #projects, #work_experience{
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

pre.prettyprint {
    border: none !important;
}

#title {
    font-size: 20px;
}
#nokia {
    float: left;
    height: 80px;
}

#footer {
    background-color: #003262;
    padding-left: 88px;
    padding-right: 88px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#name, #tag, #subtitle, #description{
    color: whitesmoke;
    /*color: rgb(85, 85, 85);*/
}

#footer {
    color: whitesmoke;
    padding-top: 10px;
}

p, h2 {
    color: rgb(85, 85, 85);
}

p {
    font-size: 19px;
}

h2{
    text-align: center;
}

a:link, a:hover, a:visited {
    color: whitesmoke;
    text-decoration: none;
    pointer-events: none;
}

.fa:link, .fa:visited {
    color: #003262;
    pointer-events: initial;
}

#photo {
    float: right;
    margin-right: 20px;
    margin-left: 30px;
}

#course_work {
    font-size: 18px;
    padding-bottom: 30px;
}

th, td {
    color: rgb(85, 85, 85);
    padding-left: 2.5px;
    padding-right: 2.5px
}

.fa {
    padding: 15px;
}

#documents .fa {
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 100%;
}

.fa-github {
    background-color: white;
}

.fa-github:hover{
    background-color: black;
    color: whitesmoke;
}

.fa-linkedin {
    background-color: white;
}

.fa-linkedin:hover {
    background-color: #007bb5;
    color: whitesmoke;
}

.fa-file-pdf-o {
    background-color: white;
}

.fa-file-pdf-o:hover {
    background-color: #ad3e52;
    color: whitesmoke;
}

@media screen and (max-width: 480px) {
    #course_work {
        display: none;
    }

    #about, #projects, #work_experience{
        margin-left: 0px;
        margin-right: 0px;
    }

    #nokia {
        display: none;
    }

    .laptop {
        display: none;
    }

    .mobile {
        display: initial;
    }

    #documents {
        font-size: 14px;
    }

    #contact {
        padding-top: 20px;
        text-align: left;
    }

    .fa {
        padding: 0px;
    }

    #documents .fa {
        text-align: center;
        font-size: 30px;
        text-decoration: none;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        border-radius: 100%;
    }

    .fa:link, .fa:visited {
        color: white;
    }
    
    .fa-github, .fa-github:hover, .fa-linkedin, .fa-linkedin:hover, .fa-file-pdf-o, .fa-file-pdf-o:hover {
        background-color: transparent;
    }
}