html, #main {
    position: relative;
    color: rgb(85, 85, 85);
}

#emptyspace {
    height: 300px;
}

#introduction {
    position: absolute;
    text-align: center;
    width: 100%;
}

#name {
    font-size: 100px;
    margin-top: 5px;

}

#tags {
    font-size: 24px;
}

#subtitle, #description {
    font-size: 20px;
    padding-bottom: 5px;
}

#subtitle {
    margin-top: 3px;
    margin-bottom: 3px;
}

.bold {
    font-weight: bold;
    color: rgb(235, 205, 11);
}

#description {
    margin-top: 3px;
    margin-bottom: 3px;
}

#content {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 650px;
}

#about, #skills, #projects, #work_experience, #course_work{
    padding-top: 30px;
    margin-left: 88px;
    margin-right: 88px;
}

#title {
    font-size: 20px;
}
#nokia {
    float: left;
    height: 60px;
}

#footer {
    text-align: center;
    background-color: rgb(255, 222, 122);
    padding-left: 88px;
    padding-right: 88px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#subtitle, #description, p, h3 {
    color: rgb(85, 85, 85);
}

p {
    font-size: 18px;
}

#photo {
    float: right;
    margin-right: 20px;
    margin-left: 30px;
}

#course_work {
    font-size: 18px;
    padding-bottom: 30px;
}

th, td {
    color: rgb(85, 85, 85);
    padding-left: 2.5px;
    padding-right: 2.5px
}

@media screen and (max-width: 480px) {
    #course_work {
        background-color: red;
        display: none;
    }

    .container {
        width: 480px;
    }
}